*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(90deg,#faa307,#f7aef8,#8093f1);
}

#container{
    width: auto;
    display: inline-block;
    border: 0px solid white;
    /* border-image: linear-gradient(90deg,#8093f1,#f7aef8,#faa307); */
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 85px;
}
.leftbox{ 
    display: inline-block;
    height: 500px;
    width: 350px;
    background-color: rgb(236, 156, 156);
    justify-content: space-evenly;
    
    
}
#pic{
    height: 200px;
    width: 220px;
    margin-left: 20%;
    border-radius: 50%;
    background-image: url(studentprofile-me.jpg);
    background-size: cover;
    margin-top: 20px;
    justify-content: space-evenly;
}
.rightbox{ 
    display: inline-block;
    height: 500px;
    width: 550px;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
}
#contact{
    margin-top: 25px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    justify-content: space-evenly;
}
#h4one{
    display: inline;
    text-align: start;
}
#phoneno{
    justify-content: right;
    float: right;
    font-weight: bold;
}
#box2inner{
    margin-left: 10px;
    margin-right: 10px;
}
#email{
    display: inline-block;
}
#number{
    display: inline-block;
    font-size: 0.90em;
    float: right;
}
.namebox{
    border-radius: 20%;
    /* align-content: center; */
}
.placeholder{
    height: 50px;
    width: 450px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family:auto;
}
#textarea{
    height: 150px;
    width: 450px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family:auto;
    padding-top: 10px;
}
#all3box{
    margin-left: 7%;
}
#button1{
    height: 50px;
    width: 80px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family:auto;
    align-content: center;
    margin-left: 40%;
}


#facebook{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(236, 156, 156);
    color: white;
    align-content: center;
    display: inline-block;
}
#twitter{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(236, 156, 156);
    color: white;
    align-content: center;
    display: inline-block;
}
#insta{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(236, 156, 156);
    color: white;
    align-content: center;
    display: inline-block;
}
#yt{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: rgb(236, 156, 156);
    color: white;
    align-content: center;
    display: inline-block;
}
#alllogos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#button2{
    height: 50px;
    width: 200px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family:auto;
    align-content: center;
    margin-left: 22%;
    margin-top: 10%;
}





